@charset "UTF-8";
/* line 1, ../sass/about.scss */
header#head {
  background: none;
}

/* line 4, ../sass/about.scss */
main#content {
  min-height: 550px;
  background-image: none;
  background-position: -680px top;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  /* line 4, ../sass/about.scss */
  main#content {
    background-image: url(../images/body_bg2.gif);
  }
}

@media screen and (min-width: 768px) {
  /* line 13, ../sass/about.scss */
  #about_me {
    height: 1950px;
  }
}

/* line 19, ../sass/about.scss */
#contact_me,
#about_me {
  width: 100%;
  overflow: hidden;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 200px;
  position: relative;
}
/* line 28, ../sass/about.scss */
#contact_me:before,
#about_me:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 367px 600px 0 0;
  border-color: #F6F6F6 transparent transparent  transparent;
  line-height: 0px;
  _border-color: #F6F6F6  #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
  opacity: 1;
  transition: transform 0.5s;
}
@media screen and (min-width: 768px) {
  /* line 28, ../sass/about.scss */
  #contact_me:before,
  #about_me:before {
    display: none;
  }
}
/* line 48, ../sass/about.scss */
#contact_me h2,
#about_me h2 {
  font-weight: normal;
  position: absolute;
  z-index: 10;
  top: 100px;
  margin-top: 14px;
  font-size: 1.5em;
  line-height: 1.2em;
  display: block;
  width: 260px;
  height: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 60, ../sass/about.scss */
#contact_me h2 b,
#about_me h2 b {
  color: #DFDFDF;
  float: left;
  font-size: 2.6em;
}
/* line 61, ../sass/about.scss */
#contact_me h2 i,
#about_me h2 i {
  font-style: normal;
  display: block;
  float: left;
  margin-top: -13px;
}
/* line 62, ../sass/about.scss */
#contact_me h2 u,
#about_me h2 u {
  text-decoration: none;
  display: block;
  position: absolute;
  padding-left: 87px;
  top: 15px;
  width: 250px;
}
/* line 63, ../sass/about.scss */
#contact_me h2:after,
#about_me h2:after {
  position: absolute;
  content: "";
  top: 47px;
  left: 0;
  width: 260px;
  height: 3px;
  background-color: #71C1DD;
}
@media screen and (min-width: 768px) {
  /* line 48, ../sass/about.scss */
  #contact_me h2,
  #about_me h2 {
    left: 25px;
    right: unset;
  }
}
/* line 69, ../sass/about.scss */
#contact_me #info,
#contact_me #WORK_EXPERIENCE,
#contact_me #EDUCATION,
#contact_me #COMPUTER_SKILL,
#contact_me #LICENSES,
#about_me #info,
#about_me #WORK_EXPERIENCE,
#about_me #EDUCATION,
#about_me #COMPUTER_SKILL,
#about_me #LICENSES {
  max-width: 470px;
  font-size: 1em;
  line-height: 1.6em;
  margin-bottom: 54px;
}
/* line 78, ../sass/about.scss */
#contact_me #info h3,
#contact_me #WORK_EXPERIENCE h3,
#contact_me #EDUCATION h3,
#contact_me #COMPUTER_SKILL h3,
#contact_me #LICENSES h3,
#about_me #info h3,
#about_me #WORK_EXPERIENCE h3,
#about_me #EDUCATION h3,
#about_me #COMPUTER_SKILL h3,
#about_me #LICENSES h3 {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-bottom: 24px;
  color: #499CB9;
}
/* line 85, ../sass/about.scss */
#contact_me #info ul li,
#contact_me #WORK_EXPERIENCE ul li,
#contact_me #EDUCATION ul li,
#contact_me #COMPUTER_SKILL ul li,
#contact_me #LICENSES ul li,
#about_me #info ul li,
#about_me #WORK_EXPERIENCE ul li,
#about_me #EDUCATION ul li,
#about_me #COMPUTER_SKILL ul li,
#about_me #LICENSES ul li {
  font-size: 1em;
  line-height: 1.6em;
  margin: 8px 0;
}
/* line 92, ../sass/about.scss */
#contact_me #info h3,
#about_me #info h3 {
  color: #000;
}
/* line 93, ../sass/about.scss */
#contact_me #LICENSES ul,
#about_me #LICENSES ul {
  position: relative;
}
/* line 95, ../sass/about.scss */
#contact_me #LICENSES ul::after,
#about_me #LICENSES ul::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -38%;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 3px solid #71C1DD;
  transform-origin: bottom center;
  transform: rotateZ(-38deg) scale(0.5);
}
@keyframes slash {
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  30% {
    transform: rotateZ(45deg) scale(1);
  }
  60% {
    transform: rotateZ(45deg) scale(1.414);
  }
  100% {
    transform: rotateZ(45deg) scale(1.414);
  }
}
/* line 126, ../sass/about.scss */
#contact_me #info figure img,
#about_me #info figure img {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 186px;
  right: 0;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /* line 126, ../sass/about.scss */
  #contact_me #info figure img,
  #about_me #info figure img {
    left: 10px;
    right: unset;
  }
}
/* line 140, ../sass/about.scss */
#contact_me #info figcaption,
#about_me #info figcaption {
  margin-top: 280px;
  position: relative;
  right: 0;
  top: 0;
  max-width: 470px;
  font-size: 1em;
  line-height: 1.6em;
}
/* line 148, ../sass/about.scss */
#contact_me #info figcaption::after,
#about_me #info figcaption::after {
  content: "";
  position: absolute;
  bottom: 20px;
  right: -38%;
  width: 80%;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 3px solid #71C1DD;
  transform-origin: bottom center;
  transform: rotateZ(-38deg) scale(0.5);
}
@media screen and (min-width: 768px) {
  /* line 140, ../sass/about.scss */
  #contact_me #info figcaption,
  #about_me #info figcaption {
    position: absolute;
    top: -80px;
    right: 30px;
  }
}
/* line 167, ../sass/about.scss */
#contact_me #info figcaption h3,
#about_me #info figcaption h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
  line-height: 1.6em;
  margin-bottom: 5px;
}
/* line 173, ../sass/about.scss */
#contact_me #info figcaption p,
#about_me #info figcaption p {
  padding: 5px 0;
}
@media screen and (min-width: 768px) {
  /* line 176, ../sass/about.scss */
  #contact_me .form_list,
  #contact_me .cv,
  #about_me .form_list,
  #about_me .cv {
    top: 450px;
    right: 30px;
    z-index: 99999;
    float: right;
    margin-right: 10px;
  }
}
/* line 187, ../sass/about.scss */
#contact_me .cv,
#about_me .cv {
  margin-top: 0px;
}
@media screen and (min-width: 768px) {
  /* line 187, ../sass/about.scss */
  #contact_me .cv,
  #about_me .cv {
    margin-top: 240px;
  }
}
/* line 195, ../sass/about.scss */
#contact_me #EDUCATION ul li,
#contact_me #WORK_EXPERIENCE ul li,
#about_me #EDUCATION ul li,
#about_me #WORK_EXPERIENCE ul li {
  padding-left: 50px;
  position: relative;
}
/* line 198, ../sass/about.scss */
#contact_me #EDUCATION ul li a,
#contact_me #WORK_EXPERIENCE ul li a,
#about_me #EDUCATION ul li a,
#about_me #WORK_EXPERIENCE ul li a {
  color: #000;
}
/* line 199, ../sass/about.scss */
#contact_me #EDUCATION ul li a:focus, #contact_me #EDUCATION ul li a:hover,
#contact_me #WORK_EXPERIENCE ul li a:focus,
#contact_me #WORK_EXPERIENCE ul li a:hover,
#about_me #EDUCATION ul li a:focus,
#about_me #EDUCATION ul li a:hover,
#about_me #WORK_EXPERIENCE ul li a:focus,
#about_me #WORK_EXPERIENCE ul li a:hover {
  color: #71C1DD;
}
/* line 204, ../sass/about.scss */
#contact_me #EDUCATION ul li b,
#contact_me #WORK_EXPERIENCE ul li b,
#about_me #EDUCATION ul li b,
#about_me #WORK_EXPERIENCE ul li b {
  padding-right: 10px;
  display: block;
  float: left;
  position: absolute;
  left: 0px;
}

/*about_me*/
/* line 213, ../sass/about.scss */
#contact_me {
  margin-bottom: 50px;
}

/* line 214, ../sass/about.scss */
.form_list {
  width: 99%;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;
}
@media screen and (min-width: 768px) {
  /* line 214, ../sass/about.scss */
  .form_list {
    padding-top: 0px;
  }
}
/* line 222, ../sass/about.scss */
.form_list h3 {
  font-size: 1.2em;
  letter-spacing: 1px;
  color: #499CB9;
}
/* line 227, ../sass/about.scss */
.form_list .instant_messaging {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 230, ../sass/about.scss */
.form_list .instant_messaging li {
  margin: 10px 0;
}
/* line 231, ../sass/about.scss */
.form_list .instant_messaging li::before {
  line-height: 16px;
  padding-right: 0px;
}
/* line 235, ../sass/about.scss */
.form_list .instant_messaging li a {
  color: #000;
  text-decoration: underline;
}
/* line 237, ../sass/about.scss */
.form_list .instant_messaging li a:focus, .form_list .instant_messaging li a:hover {
  color: #71C1DD;
}
/* line 246, ../sass/about.scss */
.form_list form label {
  display: block;
  margin: 5px 0;
}
/* line 250, ../sass/about.scss */
.form_list form input, .form_list form textarea {
  font-size: 0.8em;
  font-family: "微軟正黑體","Ubuntu", Helvetica, "Heiti TC", "Microsoft Sans Serif", "Microsoft Sans Serif", "Helvetica", "Geneva", "sans-serif";
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.9em;
  transition: all 0.3s ease-in-out;
  width: 100%;
  margin-bottom: 0.5em;
  border-radius: 5px;
}
/* line 260, ../sass/about.scss */
.form_list form input:focus, .form_list form textarea:focus {
  outline: #71C1DD solid 4px;
  border-radius: 5px;
}
/* line 265, ../sass/about.scss */
.form_list form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 300px;
}
/* line 269, ../sass/about.scss */
.form_list form button.button_more {
  border: 1px solid #ddd;
  padding: .1em 3em;
}

@media screen and (min-width: 505px) {
  /* line 276, ../sass/about.scss */
  .form_list {
    width: 470px;
    max-width: 470px;
    min-width: 470px;
    margin-top: 0px;
  }
  /* line 280, ../sass/about.scss */
  .form_list form textarea {
    width: 470px;
    max-width: 470px;
    min-width: 470px;
    min-height: 300px;
  }
}
/* line 287, ../sass/about.scss */
.sitmap_info {
  line-height: 1.6em;
}
/* line 289, ../sass/about.scss */
.sitmap_info .sitmap_info_title {
  margin-top: 20px;
  font-size: 1.2em;
  letter-spacing: 2px;
}
/* line 296, ../sass/about.scss */
.sitmap_info .sitemap_list a,
.sitmap_info .sitmap_info_browser a {
  color: #249edd;
  text-decoration: underline;
}
/* line 299, ../sass/about.scss */
.sitmap_info .sitemap_list a:focus, .sitmap_info .sitemap_list a:hover,
.sitmap_info .sitmap_info_browser a:focus,
.sitmap_info .sitmap_info_browser a:hover {
  color: orange;
}
/* line 304, ../sass/about.scss */
.sitmap_info .sitemap_list {
  margin-left: 20px;
  margin-top: 5px;
}
/* line 307, ../sass/about.scss */
.sitmap_info .sitemap_list li {
  list-style-type: decimal;
  padding: 5px 0;
}
/* line 309, ../sass/about.scss */
.sitmap_info .sitemap_list li b {
  display: block;
  font-weight: normal;
  color: #3e3b33;
  font-size: .9em;
  line-height: 1.4em;
}
